<h1 style="margin-top:25px"><%=t 'Spree.connection_page_heading' %></h1>

<div style="float:left;width:60%">
	<p style="margin: 30px 0 30px 0">
		<%=t 'Spree.connection_description' %>
	</p>

	<p style="margin: 20px 0 20px 10px">
		<%= form_tag(@shippo_connect_endpoint, method: :post, :target => "blank") %>
			<%= hidden_field_tag 'store_url', @store_url %>
			<%= hidden_field_tag 'store_name', @store_name %>
			<%= hidden_field_tag 'email', @user.email %>
			<%= hidden_field_tag 'partner_key', @partner_key %>
			<%= hidden_field_tag 'api_token', @api_token %>
			<%= hidden_field_tag 'register_automatically', @register_automatically %>
			<%= hidden_field_tag 'user_usps_set', @user_usps_set %>
			<%= submit_tag (I18n.t 'Spree.open_shippo') %>
		</form>
	</p>

</div>

<div style="float:left;width:30%;margin:30px 0 0 50px;">
	<a href="https://goshippo.com/" target="blank"><img src="https://shippo-static.s3.amazonaws.com/img/logo/logo_v2_withicon_darkgrey.svg" width="250px"></a>
</div>